@import "tailwindcss";

.hero-bg{
  background-image: url('/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
*{
  font-family: 'Manrope', sans-serif;
}

.rotating-img {
  animation: rotateInfinite 20s linear infinite;
}

@keyframes rotateInfinite {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.cta-bg{
  background-image: url('/cta-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.counter-bg{
  background-image: url('/counter-bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.scrollbar-hide{
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.scrollbar-hide::-webkit-scrollbar{
  display: none;
}
