@import "tailwindcss";

.hero-bg{
  background-image: url('/hero-1.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
*{
  font-family: 'Manrope', sans-serif;
}